body {
  background-color: aqua;
  padding: 1rem;
  /* Flex layout */
  display: flex;
  /* Flex wrap */
  flex-wrap: wrap;
  /* Height */
  height: 100vh;
  /* Width */
  width: 100vw;
  /* Align items */
  align-items: center;
  /* Justify content */
  justify-content: center;
}

.myCard {
  background: #fff;
  padding: 10px;
  margin: 40px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}

.-add-card-form {
  text-align: center;
}

.link-add-card {
  background-color: white;
  border: 2px solid green;
  padding: 10px;
  text-decoration: none;
}

.btn-modify {
  text-decoration: none;
  border: solid;
  padding: 3px;
  background-color: rgb(240, 228, 228);
}
